
.container{ 
    margin: 7vh auto;

    max-width: 600px;    
    height: 650px;
    background-color: white;
    box-shadow: 5px 10px $secondary-color;
    .inner-content{
        height: 100%;
        .row{
            height: 100%;

            .left-section{
                display: flex;
                justify-content: center;
                align-items: center;

                form {
                    h1{
                        align-self: flex-start;
                        margin-bottom: 30px;
        
                        span{
                            color: $primary-color !important;
                        }
                    }
                    
                    .btn{
                        background-color: $primary-color;
                        outline: none;
                        
                        &:hover{
                            background-color: $secondary-color;
                            color: white;
                        }
                    }
                }   

            }

            .right-section{
                height: 100%;
                background-image: url('../images/bg-image.jpg');
                background-size: cover;
                background-position:center bottom;
            }

        }
    }
}



@media (max-width:768px){
    .registration{
        .right-section{
            display: none;
        }
    }
}
