@import 'config','registration','treks','index','trekDetail';

body{
    background-color: $primary-color !important;

    nav{
        padding-top: 30px !important;
        .container-fluid{
            background-color: transparent !important;
            margin: 0 100px;
            .navbar-brand{
    
                color: $secondary-color;
                padding-right: 50px;

                &:hover{
                    color: $secondary-color !important;
                }
            }

            .nav-link {
               padding-right: 30px !important;
               cursor: pointer !important;
            }

            span{
                cursor: pointer;
            }

            .btn{
                background-color: $secondary-color;
                color: white;
            }
        }
    }
    
    #login{
        .modal-title{
            span{
                color: $primary-color;
            }
        }
        .modal-body{
            .btn{
                background-color: $primary-color;

                &:hover{
                    background-color: $secondary-color;
                    color: white;
                }
            }
        }
    }

    #logout{
        .modal-title{
            span{
                color: $primary-color;
            }
        }
    }

    .alert{
        width: 350px !important;
        margin-top: 10px;
        position: absolute;
        right: 0;
    }

    .error{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
    }


}


@media (max-width:1220px){
    .navbar-text{
        display: none;
    }
}