* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 7vh auto;
  max-width: 600px;
  height: 650px;
  background-color: white;
  -webkit-box-shadow: 5px 10px #2568FB;
          box-shadow: 5px 10px #2568FB;
}

.container .inner-content {
  height: 100%;
}

.container .inner-content .row {
  height: 100%;
}

.container .inner-content .row .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .inner-content .row .left-section form h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 30px;
}

.container .inner-content .row .left-section form h1 span {
  color: #FECD45 !important;
}

.container .inner-content .row .left-section form .btn {
  background-color: #FECD45;
  outline: none;
}

.container .inner-content .row .left-section form .btn:hover {
  background-color: #2568FB;
  color: white;
}

.container .inner-content .row .right-section {
  height: 100%;
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
  background-position: center bottom;
}

@media (max-width: 768px) {
  .registration .right-section {
    display: none;
  }
}

.innercontainer {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.innercontainer .search-bar {
  margin: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.innercontainer .search-bar i {
  position: absolute;
  padding-left: 20px;
}

.innercontainer .search-bar input {
  width: 30.75%;
  height: 50px !important;
  background: #FFFFFF;
  border-radius: 4px;
  border: none;
  line-height: 26px;
  padding-left: 60px;
}

.innercontainer .search-bar input:focus {
  outline: none;
}

.innercontainer .search-bar button {
  margin-left: 20px;
  color: white;
  background-color: #2568FB;
}

.innercontainer .treks {
  margin: 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.innercontainer .treks .card {
  -webkit-box-shadow: 5px 10px #2568FB;
          box-shadow: 5px 10px #2568FB;
}

.innercontainer .treks .card-body a {
  text-decoration: none;
  color: black;
}

.innercontainer .treks .card-body a:hover {
  color: #2568FB;
}

#addTrek .modal-title span {
  color: #FECD45;
}

#addTrek .modal-body .btn {
  background-color: #FECD45;
}

#addTrek .modal-body .btn:hover {
  background-color: #2568FB;
  color: white;
}

.detail {
  margin: 15vh auto;
  max-width: 600px;
  background-color: #C4C4C4;
  -webkit-box-shadow: 5px 10px #2568FB;
          box-shadow: 5px 10px #2568FB;
}

.detail img {
  height: 100%;
}

.detail .card-body .card-header {
  background-color: white;
  margin-bottom: 20px;
}

.detail .card-body .card-header h1:first-letter {
  color: #FECD45;
}

.detail .card-body .description .btn {
  background-color: #FECD45;
}

.detail .card-body .description .btn:hover {
  background-color: #2568FB;
  color: white;
}

.detail .card-footer {
  background-color: white;
}

@media (max-width: 768px) {
  .detail {
    margin: 5vh auto;
  }
}

body {
  background-color: #FECD45 !important;
}

body nav {
  padding-top: 30px !important;
}

body nav .container-fluid {
  background-color: transparent !important;
  margin: 0 100px;
}

body nav .container-fluid .navbar-brand {
  color: #2568FB;
  padding-right: 50px;
}

body nav .container-fluid .navbar-brand:hover {
  color: #2568FB !important;
}

body nav .container-fluid .nav-link {
  padding-right: 30px !important;
  cursor: pointer !important;
}

body nav .container-fluid span {
  cursor: pointer;
}

body nav .container-fluid .btn {
  background-color: #2568FB;
  color: white;
}

body #login .modal-title span {
  color: #FECD45;
}

body #login .modal-body .btn {
  background-color: #FECD45;
}

body #login .modal-body .btn:hover {
  background-color: #2568FB;
  color: white;
}

body #logout .modal-title span {
  color: #FECD45;
}

body .alert {
  width: 350px !important;
  margin-top: 10px;
  position: absolute;
  right: 0;
}

body .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
}

@media (max-width: 1220px) {
  .navbar-text {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */